html {
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 15px;
}

body {
    display: flex;
    flex-flow: row wrap;
}

a {
    text-decoration: none;
}